{% extends 'learning_logs/base.html' %}
{% load django_bootstrap5 %}

{% block page_header %}
    <h3>{{ topic }}</h3>
{% endblock page_header %}

{% block content %}

    <p><a href="{% url 'learning_logs:topic' topic.id %}">{{topic}}</a></p>

    <p>Edit entry</p>

    <form action="{% url 'learning_logs:edit_entry' entry.id %}" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_button "Edit" button_type="submit" button_class="btn-primary" %}
    </form>

{% endblock content %}